@import 'colorsfonts.less';
@import (reference) 'generalstyles.less';

.market-splash {
  .splash;
  height: 42vh;
  background-color: @sorbet-orange;
  flex-direction: row;
  align-items: flex-end;
  .market-title {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .view-community-button {
    .button;
    width: 300px;
    text-align: right;
    position: absolute;
    top: 13%;
    left: -20px;
  }
  .give-item-button {
    .button-blue;
    width: 300px;
    text-align: right;
    position: absolute;
    top: 20%;
    left: -20px;
  }
  .community-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  .title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.market {
  .market-list {
    border-bottom: 1px solid gray;
    padding: 100px 5%;
  }
  .your-list {
    padding: 100px 5%;
  }
}

.requests-bar {
  display: flex;
  align-items: center;
  padding-left: 10%;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid @gray;
  height: 90px;
  .add-request-button {
    .button;
    padding: 10px 15px;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
  }
}

.requests-bar-title {
  padding-right: 10px;
}

.requests-scroll {
  overflow-x: scroll;
  border-left: 1px solid @gray + #222;
  display: flex;
  align-items: center;
  position: relative;
}

.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  color: @sky-blue;
} 

.request {
  margin: 15px 0 15px 20px;
  min-height: 60px;
  padding: 3px 20px;
  border-radius: 2em;
  font-size: 16px;
  border: 2px solid @gray + #222;
  border-radius: 5px;
  &:hover {
    border: 2px solid @gray + #222;
    background-color: @purple;
    color: white;
    border: 2px solid @purple;
  }
}

.item-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  min-width: 200px;
  flex-shrink: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .img-wrapper {
    position: relative;
    height: 157px;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  .item-info {
    padding: 5px 0px;
    .item-title {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .take-button {
    .button-blue;
    border-radius: 0;
  }
  .remove-button {
    .button-red;
    border-radius: 0;
  }
}